# Dépendances
node_modules/
client/node_modules/
server/node_modules/

# Fichiers d'environnement
.env
.env.local
.env.production

# Dossiers de build
dist/
build/
client/dist/
server/telechargements/*

# Fichiers système
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
desktop.ini